html{     
    overflow-x: hidden;     
    overflow-y: hidden;
    display: flex;
    padding: 0;
    margin: 0;   
    font-family: "Microsoft YaHei";
} 

body{
    background: url("../img/background.jpg") no-repeat;
    background-size: 600 400;
    height: 100%;
    width: 100%;
}